<!Doctype html>
<html ng-app='myApp'>
<head>
<title>1100 Snake</title>

<link rel='stylesheet' href='style.css' />
</head>
<body ng-controller='MyController' ng-keydown='catchKeyDown($event)'>
<div class='menuDiv'>
	
		<div class='{{gameOnClickAction}} state gameActions ' ng-click='takeAction()' id='nextAction'></div>
		<div class='restart gameActions' ng-click='restartGame() ' id=''></div>
	
		<div class='difficultLevel ' >
			<label class='current' ng-click='changeDifficultLevel("easy",$event)'> Easy </label>
			<label class='' ng-click='changeDifficultLevel("medium",$event)'> Medium </label>
			<label class='' ng-click='changeDifficultLevel("hard",$event)'> Hard </label>
		</div>
	</div>
	
</div>
<div id='box' >

<snake></snake>
<div id='mask'></div>
</div>
<div class='menuDiv'>
		<div class='score' id='scoreDiv'>Score:{{score}}</div>
		<div class='level' id='LevelDiv'>Level:{{level+1}}</div>	
	</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular.min.js"></script>
<script src='snake.js' type='text/javascript'></script>
<script src='jquery.js' type='text/javascript'></script>


</body>
</html>
